body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  padding-left: 300px;
  flex-basis: 30%;
  text-align: center;
}

.text1 {
  text-align: center;
  font-size: 28px;
}

.logo {
  padding-top: 50px;
  display: flex;
  justify-content: left;
  margin-left: 20%;
  margin-right: 20%;

}
.logo-image {
  width: 100%;
  height: auto;
}

.right {
  padding-right: 100px;
  flex-basis: 50%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72vh;
  margin-right: 50px;
}
.image-image {
  width: 60%;
  height: auto;
  border-radius: 20%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: 15px 60px;
  font-size: 18px;
  background-color: #E49800;
  color: #444444;
  text-decoration: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #555;
}

footer {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  color: #E49800;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 1px solid #bebebe;
}


.footer-section {
  flex-basis: 24%;
  text-align: center;
}

.footer-section:not(:last-child) {
  border-right: 1px solid #E49800;
}


.topbar {
  display: flex;
  text-align: center;
  background-color: #e9e9e9;
  padding: 20px 0;
  border-radius: 10px;
  border-bottom: 1px solid #bebebe;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}


.topbar .button {
  margin: 0 50px;
}

.topbar .button:first-child {
  margin-left: 50px;
}





